@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rochester&display=swap");
@import url("https://db.onlinewebfonts.com/c/68590d1f06ad625cb73b5c34f85b4a1b?family=Luma-Icons");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, sans-serif, Arial, sans-serif;
  font-style: normal;
}

body .main-content {
  max-width: 1280px;
  margin: auto;
}
body .page-title {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  body .page-title {
    margin-bottom: 40px;
  }
}
body .page-title span {
  font-size: 2.9rem;
  font-weight: 300;
  line-height: 1.1;
  color: #333;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  body .plp-main-container.filter-fixed {
    position: fixed;
  }
}
body .plp-main-container .sidebar-left-filter-section {
  width: 20.83333333%;
  height: 100%;
  float: left;
  padding-right: 2%;
}
@media screen and (min-width: 768px) {
  body .plp-main-container .sidebar-left-filter-section {
    display: block !important;
  }
}
body .plp-main-container .sidebar-left-filter-section .filter-subtitle {
  border-bottom: 1px solid #ccc;
  line-height: 1em;
  padding: 10px 10px 20px;
  color: #333;
  display: block;
}
@media screen and (min-width: 768px) {
  body .plp-main-container .sidebar-left-filter-section .filter-subtitle {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
  }
}
body .plp-main-container .sidebar-left-filter-section li.price .content {
  padding: 10px;
}
body .plp-main-container .sidebar-left-filter-section li.price ol.items-price {
  margin: 0 0 0 0;
}
body .plp-main-container .sidebar-left-filter-section li.price ol.items-price li.item {
  margin: 10px 0;
  border-bottom: unset;
}
body .plp-main-container .sidebar-left-filter-section li.price ol.items-price li.item a {
  color: #494949;
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 7px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875rem;
}
body .plp-main-container .sidebar-left-filter-section li.price ol.items-price li.item a:hover {
  background-color: #e8e8e8;
  text-decoration: none;
}
body .plp-main-container .sidebar-left-filter-section li.price ol.items-price li.item a span.price:first-child {
  padding: 0 2px 0 0;
}
body .plp-main-container .sidebar-left-filter-section li.price ol.items-price li.item a span.price:nth-child(2) {
  padding: 0 0 0 2px;
}
body .plp-main-container .sidebar-left-filter-section li.price ol.items-price li.item a span.count {
  color: #757575;
  font-weight: 300;
  padding-left: 5px;
  padding-right: 5px;
}
body .plp-main-container .sidebar-left-filter-section li.price ol.items-price li.item a span.count::before {
  content: "(";
}
body .plp-main-container .sidebar-left-filter-section li.price ol.items-price li.item a span.count:after {
  content: ")";
}
body .plp-main-container .sidebar-left-filter-section li.price ol.items-price li.item a span {
  font-size: 0.9rem;
  font-family: sans-serif;
}
body .plp-main-container .left-product-list-section {
  width: 79.16666667%;
  float: right;
}
@media screen and (min-width: 768px) {
  body .plp-main-container .left-product-list-section {
    padding-left: 2%;
  }
}
@media screen and (min-width: 768px) {
  body .plp-main-container .left-product-list-section .toolbar.top .view-modes {
    display: flex;
    align-items: center;
  }
  body .plp-main-container .left-product-list-section .toolbar.top .view-modes .toolbar-amounts {
    display: block;
    font-size: 0.9rem;
    margin-left: 20px;
  }
  body .plp-main-container .left-product-list-section .toolbar.top .view-modes strong.gridmode {
    border-radius: 3px 0 0 3px;
    box-shadow: inset 0 1px 0 0 rgba(204, 204, 204, 0.8), inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
    background: #dedede;
    color: #9e9e9e;
    border: 1px solid #ccc;
    border-right: 0;
    float: left;
    font-weight: 400;
    line-height: 1;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
  }
  body .plp-main-container .left-product-list-section .toolbar.top .view-modes strong.gridmode::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.15rem;
    line-height: inherit;
    color: #7d7d7d;
    content: "\e60d";
    font-family: luma-icons;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  body .plp-main-container .left-product-list-section .toolbar.top .view-modes a.listmode {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #ccc;
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
    color: #5e5e5e;
    border: 1px solid #ccc;
    border-right: 0;
    float: left;
    font-weight: 400;
    line-height: 1;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
  }
  body .plp-main-container .left-product-list-section .toolbar.top .view-modes a.listmode::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.15;
    line-height: inherit;
    color: #7d7d7d;
    content: "\e60b";
    font-family: luma-icons;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
}
body .plp-main-container .left-product-list-section .toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
body .plp-main-container .left-product-list-section .toolbar .toolbar-sorter label {
  font-size: 0.9rem;
}
body .plp-main-container .left-product-list-section .toolbar .toolbar-sorter.sorter select.sorter-options {
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
  border-radius: 3px;
  margin: 0 5px 0 7px;
  width: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-size: 30px 60px;
  text-indent: 0.01em;
  background: #f0f0f0 url(icons/select-bg.svg) no-repeat 100% 45%;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 1px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  height: 32px;
  line-height: 1.42857143;
  padding: 4px 25px 5px 10px;
  vertical-align: baseline;
  box-sizing: border-box;
}
body .plp-main-container .left-product-list-section .toolbar .toolbar-sorter.sorter select.sorter-options:focus {
  box-shadow: 0 0 3px 1px #00699d;
  outline: navajowhite;
}
body .plp-main-container .left-product-list-section .toolbar .toolbar-sorter.sorter .sorter-action {
  position: relative;
}
body .plp-main-container .left-product-list-section .toolbar .toolbar-sorter.sorter .sorter-action:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.15rem;
  line-height: inherit;
  color: #757575;
  content: "\e613";
  font-family: luma-icons;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  overflow: hidden;
  speak: none;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body .plp-main-container .left-product-list-section .toolbar .mobilesort {
    display: none;
  }
}
body .plp-main-container .left-product-list-section .products-grid {
  margin-bottom: 30px;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item {
  list-style: none;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details {
    padding: 0 10px;
  }
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item picture .product-image-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 125%;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item picture .product-image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 268px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item.configuarable:nth-child(odd) .swatch-option-color:first-child .tooltip-inner {
    left: 64px;
  }
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item.configuarable:nth-child(odd) .swatch-option-color:first-child .tooltip-inner::before {
    left: 5% !important;
  }
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item.configuarable:nth-child(odd) .swatch-option-color:first-child .tooltip-inner::after {
    left: -7% !important;
  }
}
@media screen and (min-width: 768px) {
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item:hover {
    background: #fff;
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.3);
    outline: 1px solid #bbb;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 9;
    margin-bottom: -15px;
  }
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item:hover .product-item-inner-conatiner {
    display: block !important;
  }
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item:hover .product-item-inner {
    padding-bottom: 10px;
  }
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item:hover .product-item-info-container {
    position: absolute;
    left: 0;
    right: 0;
  }
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details span.label-price {
  font-size: 0.85rem;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details span.price {
  font-weight: 700;
  white-space: nowrap;
  font-size: 0.9rem;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-name a {
  font-weight: 400;
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  word-wrap: break-word;
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  display: inline-block;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-name a:hover {
  color: #333333;
  text-decoration: underline;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .price-box {
  margin: 10px 0 25px;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .price-box .price {
  font-size: 0.9rem;
  font-family: sans-serif;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .price-box .price-from .label {
  color: #666666;
  font-size: 0.85rem;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .price-box .price-to .label {
  color: #666666;
  font-size: 0.85rem;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .price-box .minimal-price .price-label {
  color: #666666;
  font-size: 0.85rem;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .price-box .minimal-price .price {
  font-weight: 700;
  white-space: nowrap;
  font-size: 0.9rem;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatches-container {
  display: flex;
  flex-wrap: wrap;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatches-container .swatch-container-inner {
  position: relative;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatches-container .swatch-container-inner:hover > .swatches-tooltip {
  display: block !important;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatches-container .swatch-container-inner .swatches-tooltip {
  background: #fff;
  color: #686868;
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 15px;
  margin-right: 7px;
  min-width: 22px;
  padding: 4px 12px;
  border: 1px solid #dadada;
  align-items: center;
  position: absolute;
  top: -45px;
  width: 35px;
  display: none;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatches-container .swatch-container-inner .swatches-tooltip::before {
  border-color: #adadad transparent transparent transparent;
  boder: 1px 1px 0 1px;
  border-right: 1px solid #adadad;
  left: 30%;
  border-bottom: 1px solid #adadad;
  top: 84%;
  content: "";
  font-size: 0.875rem;
  background: white;
  height: 10px;
  position: absolute;
  width: 10px;
  transform: rotate(45deg);
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatches-container .swatch-container-inner .swatches-tooltip:after {
  border-color: #ffffff transparent transparent transparent;
  border-width: 8px 7.5px 0 7.5px;
  left: 25%;
  top: 104%;
  border-style: solid;
  content: "";
  font-size: 0.875rem;
  height: 0;
  z-index: 1;
  width: 0;
  position: absolute;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatches-container div.swatches {
  background: #f0f0f0;
  color: #949494;
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 25px;
  margin-right: 7px;
  min-width: 22px;
  padding: 4px 8px;
  border: 1px solid #dadada;
  cursor: pointer;
  float: left;
  height: 30px;
  margin: 0 10px 5px 0;
  max-width: 100%;
  min-width: 35px;
  overflow: hidden;
  padding: 1px 2px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatches-container div.swatches:hover {
  border: 1px solid #fff;
  color: #333;
  outline: 1px solid #999;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  position: relative;
  flex-wrap: wrap;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color {
  min-width: 35px;
  height: 24px;
  position: relative;
  border: 1px solid #dadada;
  cursor: pointer;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color:hover {
  border: 1px solid #fff;
  outline: 2px solid #c34000;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color.red {
  background-color: red;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color.blue {
  background-color: blue;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color.black {
  background-color: black;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color.grey {
  background-color: grey;
}
@media screen and (max-width: 768px) {
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color {
    min-width: 30px;
    height: 20px;
  }
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color:hover > .swatch-option-color-tooltip .tooltip-inner {
  display: block !important;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip {
  z-index: 100;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner {
  display: block;
  height: 145px;
  margin: 0 auto;
  width: 140px;
  display: none;
  background-color: #fff;
  z-index: 1;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner div.color-picker span {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner {
    top: -400%;
  }
}
@media screen and (max-width: 768px) {
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner {
    top: -426%;
  }
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner::before {
  border-color: #adadad transparent transparent transparent;
  border-width: 8px 8.5px 0 8.5px;
  left: 46%;
  top: 104%;
  border-style: solid;
  content: "";
  font-size: 0.875rem;
  height: 0;
  position: relative;
  width: 0;
  transform: translate(-50%, -50%);
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner:after {
  border-color: #ffffff transparent transparent transparent;
  border-width: 7px 7.5px 0 7.5px;
  left: 35%;
  top: 103%;
  border-style: solid;
  content: "";
  font-size: 0.875rem;
  height: 0;
  position: relative;
  width: 0;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.one {
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid #dadada;
}
@media screen and (min-width: 768px) {
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.one {
    left: 40%;
  }
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.one div.color-picker {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -3px;
  width: calc(100% - 20px);
  height: calc(100% - 35px);
  margin: 10px;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.two {
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 1px solid #dadada;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.two div.color-picker {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -3px;
  width: calc(100% - 20px);
  height: calc(100% - 35px);
  margin: 10px;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.three {
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 1px solid #dadada;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.three div.color-picker {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -3px;
  width: calc(100% - 20px);
  height: calc(100% - 35px);
  margin: 10px;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.four {
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 1px solid #dadada;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.four div.color-picker {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -3px;
  width: calc(100% - 20px);
  height: calc(100% - 35px);
  margin: 10px;
}
@media screen and (min-width: 768px) {
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-inner-conatiner {
    display: none;
  }
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-inner-conatiner .product-item-inner {
  display: flex;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-inner-conatiner .product-item-inner {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-inner-conatiner .product-item-inner {
    flex-direction: column;
    justify-content: flex-start;
  }
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-inner-conatiner .product-item-inner .product-item-actions > button {
  font-size: 0.85rem;
  border-radius: 0;
  line-height: 1;
  padding-bottom: 10px;
  padding-top: 10px;
  white-space: nowrap;
  background: #1979c3;
  border: 1px solid #1979c3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 7px 15px;
  font-family: sans-serif;
  border-radius: 0;
  line-height: 1;
  padding-bottom: 10px;
  padding-top: 10px;
  white-space: nowrap;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-inner-conatiner .product-item-inner .product-item-actions > button:hover {
  background: #006bb4;
  border: 1px solid #006bb4;
  color: #fff;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-inner-conatiner .product-item-inner .add-to-links {
  display: flex;
  align-items: center;
  gap: 15px;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-inner-conatiner .product-item-inner .add-to-links a:hover::before {
  color: #333 !important;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-inner-conatiner .product-item-inner .add-to-links a.wishlist:before {
  content: "\e600";
  font-family: "Luma-Icons";
  color: #666;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
}
body .plp-main-container .left-product-list-section .products-grid ol.product-items li.item .product-item-details .product-item-inner-conatiner .product-item-inner .add-to-links a.compare::before {
  content: "\e61e";
  color: #666;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  font-family: "Luma-Icons";
  font-weight: 1.2rem;
}
body .plp-main-container .toolbar.bottom {
  display: flex;
  justify-content: space-between;
}
body .plp-main-container .toolbar.bottom .pages ul.pages-items {
  display: flex;
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  list-style: none none;
  display: inline-block;
  font-weight: 400;
}
body .plp-main-container .toolbar.bottom .pages ul.pages-items li {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: normal;
  margin: 0 8px 0 0;
  display: inline-block;
}
body .plp-main-container .toolbar.bottom .pages ul.pages-items li.current {
  background: #e5e5e5;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: normal;
  color: #333;
  display: inline-block;
  font-weight: 700;
  padding: 0 5px;
}
body .plp-main-container .toolbar.bottom .pages ul.pages-items li a span {
  font-weight: 700;
}
body .plp-main-container .toolbar.bottom .pages ul.pages-items li strong span,
body .plp-main-container .toolbar.bottom .pages ul.pages-items li strong .page {
  font-size: 12px;
  color: #333;
  font-weight: 700;
}
body .plp-main-container .toolbar.bottom .pages ul.pages-items li .page {
  color: #006bb4;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
}
body .plp-main-container .toolbar.bottom .pages ul.pages-items li .page span {
  font-size: 12px;
}
body .plp-main-container .toolbar.bottom .pages ul.pages-items li.pages-item-next a {
  display: inline-block;
  text-decoration: none;
  box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
  border-radius: 3px;
  padding: 0 8px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  color: #7d7d7d;
}
body .plp-main-container .toolbar.bottom .pages ul.pages-items li.pages-item-next a::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  line-height: inherit;
  color: #7d7d7d;
  content: "\e608";
  font-family: luma-icons;
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: 400;
  overflow: hidden;
  speak: none;
  text-align: center;
}
body .plp-main-container .toolbar.bottom .page.limiter {
  float: right;
  align-items: center;
}
@media screen and (min-width: 768px) {
  body .plp-main-container .toolbar.bottom .page.limiter {
    display: flex;
  }
}
body .plp-main-container .toolbar.bottom .page.limiter span {
  font-size: 0.9rem;
}
body .plp-main-container .toolbar.bottom .page.limiter select {
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
  border-radius: 3px;
  margin: 0 5px 0 7px;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 30px 60px;
  text-indent: 0.01em;
  text-overflow: "";
  background: #f0f0f0 url(icons/select-bg.svg) no-repeat 100% 45%;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 1px;
  font-weight: 600;
  font-size: 0.9rem;
  height: 32px;
  line-height: 1.42857143;
  padding: 4px 25px 5px 10px;
  vertical-align: baseline;
  box-sizing: border-box;
}
body .plp-main-container .toolbar.bottom .page.limiter select:focus {
  box-shadow: 0 0 3px 1px #00699d;
  border: #fff;
}

ul.accordion-list {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  list-style: none;
  padding-bottom: 40px;
}
ul.accordion-list li.category .content,
ul.accordion-list li.style .content,
ul.accordion-list .material .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}
ul.accordion-list li.category .content a:hover,
ul.accordion-list li.style .content a:hover,
ul.accordion-list .material .content a:hover {
  background-color: #e8e8e8;
  text-decoration: none;
}
ul.accordion-list li.size .content {
  padding: 18px 10px;
}
ul.accordion-list li.size .swatches-container {
  display: flex;
  flex-wrap: wrap;
}
ul.accordion-list li.size .swatches-container .swatch-container-inner {
  position: relative;
}
ul.accordion-list li.size .swatches-container .swatch-container-inner:hover > .swatches-tooltip {
  display: block !important;
}
ul.accordion-list li.size .swatches-container .swatch-container-inner .swatches-tooltip {
  background: #fff;
  color: #686868;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-right: 7px;
  min-width: 22px;
  padding: 4px 12px;
  border: 1px solid #dadada;
  align-items: center;
  position: absolute;
  top: -45px;
  width: 35px;
  display: none;
}
ul.accordion-list li.size .swatches-container .swatch-container-inner .swatches-tooltip::before {
  border-color: #adadad transparent transparent transparent;
  boder: 1px 1px 0 1px;
  border-right: 1px solid #adadad;
  left: 30%;
  border-bottom: 1px solid #adadad;
  top: 84%;
  content: "";
  font-size: 0.875rem;
  background: white;
  height: 10px;
  position: absolute;
  width: 10px;
  transform: rotate(45deg);
}
ul.accordion-list li.size .swatches-container .swatch-container-inner .swatches-tooltip:after {
  border-color: #ffffff transparent transparent transparent;
  border-width: 8px 7.5px 0 7.5px;
  left: 25%;
  top: 104%;
  border-style: solid;
  content: "";
  font-size: 0.875rem;
  height: 0;
  z-index: 1;
  width: 0;
  position: absolute;
}
ul.accordion-list li.size .swatches-container div.swatches {
  background: #f0f0f0;
  color: #949494;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  margin-right: 7px;
  min-width: 22px;
  padding: 4px 8px;
  border: 1px solid #dadada;
  cursor: pointer;
  float: left;
  height: 30px;
  margin: 0 10px 5px 0;
  max-width: 100%;
  min-width: 35px;
  overflow: hidden;
  padding: 1px 2px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
}
ul.accordion-list li.color .content {
  padding: 15px 10px;
}
ul.accordion-list li.color .swatch-options-color-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  position: relative;
  flex-wrap: wrap;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color {
  min-width: 35px;
  height: 24px;
  position: relative;
  border: 1px solid #dadada;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color:hover {
  border: 1px solid #fff;
  outline: 2px solid #c34000;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color.pink {
  background-color: pink;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color.white {
  background-color: white;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color.orange {
  background-color: orange;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color.black {
  background-color: black;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color:hover > .swatch-option-color-tooltip .tooltip-inner {
  display: block !important;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip {
  z-index: 100;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner {
  display: block;
  height: 145px;
  margin: 0 auto;
  width: 140px;
  display: none;
  top: -400%;
  background-color: #fff;
  z-index: 1;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner div.color-picker span {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  text-transform: capitalize;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner::before {
  border-color: #adadad transparent transparent transparent;
  border-width: 8px 8.5px 0 8.5px;
  left: 46%;
  top: 104%;
  border-style: solid;
  content: "";
  font-size: 0.875rem;
  height: 0;
  position: relative;
  width: 0;
  transform: translate(-50%, -50%);
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner:after {
  border-color: #ffffff transparent transparent transparent;
  border-width: 7px 7.5px 0 7.5px;
  left: 35%;
  top: 104%;
  border-style: solid;
  content: "";
  font-size: 0.875rem;
  height: 0;
  position: relative;
  width: 0;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.one {
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 1px solid #dadada;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.one div.color-picker {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -3px;
  width: calc(100% - 20px);
  height: calc(100% - 35px);
  margin: 10px;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.two {
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 1px solid #dadada;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.two div.color-picker {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -3px;
  width: calc(100% - 20px);
  height: calc(100% - 35px);
  margin: 10px;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.three {
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 1px solid #dadada;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.three div.color-picker {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -3px;
  width: calc(100% - 20px);
  height: calc(100% - 35px);
  margin: 10px;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.four {
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 1px solid #dadada;
}
ul.accordion-list li.color .swatch-options-color-container .swatch-option-color .swatch-option-color-tooltip .tooltip-inner.four div.color-picker {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -3px;
  width: calc(100% - 20px);
  height: calc(100% - 35px);
  margin: 10px;
}
ul.accordion-list li {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  position: relative;
  list-style: none;
}
ul.accordion-list li .content {
  padding: 15px 10px;
  padding-bottom: 15px !important;
}
ul.accordion-list li h3 {
  font-weight: 600;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 10px 40px 10px 10px;
  margin: 0;
  font-size: 0.88rem;
  letter-spacing: 0.01em;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Open Sans", Helvetica, sans-serif, Arial, sans-serif;
}
ul.accordion-list li h3:after {
  content: "\e622";
  font-family: luma-icons;
  right: 0;
  top: 0;
  color: #fcc110;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  color: #000;
  position: absolute;
  top: 16px;
}
ul.accordion-list li div.content {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
  align-items: center;
}
ul.accordion-list li div.content p {
  position: relative;
  display: block;
  font-weight: 300;
  padding: 10px 0 0 0;
  cursor: pointer;
  line-height: 150%;
  margin: 0;
  font-size: 14px;
  padding: 10px 0px 0 10px;
}
ul.accordion-list li div.content p a {
  color: #494949;
  text-decoration: none;
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 8px;
  padding-right: 7px;
  text-transform: capitalize;
}
ul.accordion-list li span.counts {
  color: #757575;
  font-weight: 300;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
ul.accordion-list li span.counts:before {
  content: "(";
}
ul.accordion-list li span.counts::after {
  content: ")";
}
ul.accordion-list li span.counts .filter-count {
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  position: absolute;
}

.sidebar-additional-filters .compare-products,
.sidebar-additional-filters .wishlist-products {
  padding-bottom: 40px;
}
.sidebar-additional-filters .compare-products strong,
.sidebar-additional-filters .wishlist-products strong {
  font-size: 1.286rem;
  font-weight: 300;
  vertical-align: middle;
}
.sidebar-additional-filters .compare-products span.counter,
.sidebar-additional-filters .wishlist-products span.counter {
  font-size: 14px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .sidebar-additional-filters .compare-products span.counter,
  .sidebar-additional-filters .wishlist-products span.counter {
    display: inline-block;
  }
}
@media screen and (max-width: 768px) {
  .sidebar-additional-filters .compare-products span.counter,
  .sidebar-additional-filters .wishlist-products span.counter {
    display: block;
  }
}

li.active > h3:after {
  content: "\e621" !important;
}

@media screen and (min-width-768px) {
  .shop-by {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .page-title {
    margin-bottom: 20px;
  }
  .page-title > span {
    font-size: 1.85rem !important;
  }
  body.filteropen .main-content {
    padding: 0;
  }
  .filter-subtitle {
    position: relative;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 100;
  }
  .close-button:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: inherit;
    color: #7d7d7d;
    content: "\e616";
    font-family: luma-icons;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
    right: 7px;
    position: absolute;
    top: 14px;
  }
  .sidebar-left-filter-section {
    display: none;
  }
  .main-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-content ol.products.list.items.product-items {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .main-content .sidebar-left-filter-section {
    width: 100% !important;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1;
  }
  .main-content .left-product-list-section {
    width: 100% !important;
  }
  .main-content .left-product-list-section .toolbar.top {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
  }
  .main-content .left-product-list-section .toolbar.top .view-modes {
    float: inherit;
    clear: left;
    display: flex;
    flex-basis: 100%;
    flex-direction: revert;
  }
  .main-content .left-product-list-section .toolbar.top .view-modes .toolbar-amounts {
    font-size: 0.9rem;
  }
  .main-content .page.limiter {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 100%;
  }
  .main-content .toolbar.toolbar-products.bottom {
    justify-content: space-around;
    position: relative;
  }
  .main-content .toolbar.toolbar-products.bottom .pages ul .pages-item-next {
    position: absolute;
    right: 5px;
  }
  .sidebar-left-filter-section {
    display: none;
  }
  picture .product-image-container .product-image-wrapper img {
    width: 100%;
  }
  .shop-by {
    display: block;
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
    border: 1px solid #ccc;
    border-radius: 3px;
    font-weight: 400;
    left: 0;
    line-height: 16px;
    padding: 7px 10px;
    text-align: center;
    top: 0;
    z-index: 2;
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=index.css.map */